.card-container {
	border: 1px solid black;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
}


.custom-layout {
	position: absolute;
	inset: 0px;
	z-index: 300;
	pointer-events: none;
}

.custom-toolbar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	gap: 8px;
}

.custom-button {
	pointer-events: all;
	padding: 4px 12px;
	background: white;
	border: 1px solid black;
	border-radius: 64px;
}

.custom-button[data-isactive='true'] {
	background-color: black;
	color: white;
}

/* New styles for form elements and search results */
.feature-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.input-container input {
  flex-grow: 1;
}

.search-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.insert-feature {
  position: fixed;
  top: 40px;
  left: 404px;
  height: 400px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  border-radius: 0;
  /* background: transparent; */
  cursor: pointer;
}

.feature-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f0f0f0;
  color:black;
  font-size: 14px;
  width: calc(300px - 24px);
}

.feature-submit {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.feature-submit:hover {
  background-color: #e0e0e0;
  border: 1px solid #ccc;

}

.feature-input:focus,
.feature-submit:focus,
.search-input:focus {
  outline: none;
  box-shadow: none;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  color:black;
  font-size: 14px;
  width: calc(400px - 24px);
}


.search-results {
  max-height: 200px;
  max-width: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  color:black;
}

.search-result-item {
  padding: 5px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}

.result-number {
  font-weight: bold;
  margin-right: 10px;
}

.result-description {
  font-size: 14px;
}