.card-container {
	border: 1px solid black;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  pointer-events: all;
}

.card-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.card-preview {
  width: fit-content;
  height: fit-content;
  background: none;
  padding: 5px;
  margin-left: 3px;
  font-size: 1em;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  transition: border 0.2s, background-color 0.2s;
  cursor: pointer;
}

.card-preview:hover {
  border: 1px solid lightgray;
  background-color: lightgray;
}

.card-stats {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 0.8em;
  color: gray;
}

/*  */

.custom-layout {
	position: absolute;
	inset: 0px;
	z-index: 300;
	pointer-events: none;
}

.custom-toolbar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	gap: 8px;
}

.custom-button {
	pointer-events: all;
	padding: 4px 12px;
	background: white;
	border: 1px solid black;
	border-radius: 64px;
}

.custom-button[data-isactive='true'] {
	background-color: black;
	color: white;
}

/* New styles for form elements and search results */
.feature-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.input-container {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 40px;
}

.input-container input {
  flex-grow: 1;
}

.search-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 40px;
}

.insert-feature {
  position: fixed;
  background-color: #F6F8FB;
  top: 44px;
  left: 404px;
  height: 402px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  /* background: transparent; */
  cursor: pointer;
  color: black;
}

.insert-feature:hover {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}

.feature-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #F6F8FB;
  color:black;
  font-size: 14px;
  width: calc(300px - 24px);
}

.feature-submit {
  background-color: #F6F8FB;
  color: black;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.feature-submit:hover {
  background-color: #e0e0e0;
  border: 1px solid #ccc;

}

.feature-input:focus,
.feature-submit:focus,
.search-input:focus {
  outline: none;
  box-shadow: none;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #F6F8FB;
  color:black;
  font-size: 14px;
  width: calc(400px - 24px);
  min-height: 22.18px;

}


.search-results {
  max-height: 200px;
  max-width: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  color:black;
}

.search-result-item {
  padding: 5px;
  cursor: pointer;
  background-color: #F6F8FB;
}

.search-result-item:hover {
  background-color: #e0e0e0;
}

.result-number {
  font-weight: bold;
  margin-right: 10px;
}

.result-description {
  font-size: 14px;
}

/* Modal*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color:black;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
}